* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
body {
    font-family: Arial;
    background-color: #769fcd;
    padding: 50px;
    text-align:center;
    margin: 0;
}

.topwelcome{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    border:2px solid black;
    height:175px;
}

#Welcome{
    position:relative;
    margin-bottom: 10px;
    
}

h1{
    font-family: 'VT323', monospace;
}

.subtitle{
    margin-left: 50px;
    margin-right:50px;
    position: relative;
    float:left;
    left:25%
}

img{
    position:absolute;
    max-height: 40px;
    max-width: 40px;
    left:20%;
    bottom:20%;
}

.logo{
    border: 3px solid #000;
    background-color: #777;
    border-radius:50% 50% 50% 50%;
    width:75px;
    height:75px;
    padding:30px;
    position:fixed;
    margin:15px;
    top:7.5%;
}

#chat{
    right:5%;
}

#chatimg{
    margin-left: auto;
    margin-right: auto;
    display: block;
    left:30%;
}
